<!-- views/partials/footer.ejs -->

  <footer class="container-fluid bg-4 text-center footer navbar-fixed-bottom">
    <p><br/><a class="btn btn-theme">© Copyright 2017 Orange Labs</a></p>
    </footer>

