@font-face
{
    font-family: 'Junction-regular';
    src: url("../css/Junction-regular.otf");

}

body{
    font-family:'Junction-regular';
}

.localVideo {
    position: absolute;
    top: 0px;
    left:0px ;
    height: 96px;
    width: 128px;

}

.remoteVideo {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: auto;
}


.sidenav {
    height: 20%;
    width:  88%;
    position: absolute;
    Bottom: 5px;
    left:20px;
}

.glyphicon.glyphicon-phone-alt {
    font-size: 30px;
    color: #DF013A;
    padding:20px;

}

.glyphicon-play-circle{
    font-size: 100px;
    color: Black;

}

#start{
    position: absolute;
    left:47%;
    right:50%;
    top:20%;
}
#conv{
    position: absolute;
    left:47%;
    right:50%;
    bottom:61%;
    font-size: 22px;
}
.glyphicon.glyphicon-bullhorn {
    font-size: 30px;
    color: Black;
    padding:20px;

}

.glyphicon.glyphicon-th-large {
    font-size: 25px;
    color: black;
    padding:20px;
}


@media screen and (max-height: 1200px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav{
    text-align: center;


    width:1200px;
    height:90px;
    margin-left:-60px;
    margin-bottom:-5px;

}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}



@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#zone{
    height:230px;
    background:#f9f9fD;
    padding: 27px 25px;
    box-shadow: 0px 6px 6px 3px #f1f1f1;
}



div#zone:hover {
    background-color:#f9f9f9;
}





input[type=text] {
    width: 100%;
    padding: 12px 20px;
    height: 100%;
    margin: 8px 0;
    box-shadow: 0.5px 0px 0px 0.5px #f1f1f1;
    border: 0.5px solid #f1f1f1;
    border-radius: 0px;
}

input[type=number] {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-shadow: 0.5px 0px 0px 0.5px #f1f1f1;
    border: 0.5px solid #f1f1f1;
    border-radius: 0px;
}

#btn{
    width: 100%;
    height:47px;
    font-family: Junction-regular;
    font-size:16px;
    padding: 12px 0px;
    margin: 34.5px 0;
    box-shadow: 0.5px 0px 0px 0.5px #f1f1f1;
    border: 0.5px solid #f1f1f1;
    border-radius: 0px;


}



.bg-4 {
    background-color: #f9f9fD; /* Black Gray */
    color: #fff;
    padding-top:    20px;
    padding-bottom: 20px;
}

.glyphicon.glyphicon-home {
    font-size: 25px;
    color: black;
    padding:10px;
    margin-top:-13px;
    margin-bottom: -5px;
}

.glyphicon.glyphicon-user {
    font-size: 25px;
    color: black;
    padding:10px;
    margin-top:-13px;
    margin-bottom: -5px;
}

.glyphicon.glyphicon-off {
    font-size: 25px;
    color: black;
    padding:10px;
    margin-top:-13px;
    margin-bottom: -5px;
}


.embed-responsive-4by3 {
    padding-bottom: -75%;
}






.popover-title {
    color: Black;
    font-size: 15px;
    text-align: center;
}

.popover-content {
    color: Black;
    font-size: 14px;
}






.overlay2 {
    height: 45%;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color:#f2f2f2;
    overflow-x: hidden;
    box-shadow: -3px 4px 2px 2px #f2f2f2;
}

.overlay-content2 {
    position: relative;
    top:5%;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-left:40px;
    margin-bottom: 0px;
    font-size: 14px;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay2 a:hover, .overlay a:focus {
    color: black;
}


ul.cd-buttons {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
    position: relative;
    width: 100%;
    height: 9%;
    bottom: -18%;
}

li.first {
    float: left;
    width: 50%;

}
li.second{
    float: right;
    width: 50%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: orangered;
}

.active {
    background-color: #4CAF50;
}

