<!DOCTYPE html>
<html>
<head>

  <title>Realtime communication with WebRTC</title>

  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

  <h1>Realtime communication with WebRTC</h1>

<ul>
<% for(var i=0; i<rooms.length; i++) {%>
    <% if(rooms[i]){ %>
	<li> <a href="<%= '/room/'+rooms[i].name%>"> <%=rooms[i].name%></a> <%= rooms[i].user.length%>/2</li>
	<% } %>
<% } %>
</ul>

</body>

</html>