<!DOCTYPE html>
<html>
<head>

  <title>Realtime communication with WebRTC</title>

  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

  <h1>Realtime communication with WebRTC</h1>

  <strong>Room</strong>: <%= room %>
  <strong>email</strong>: <%= user.local.email || user.jwt.id %><br>
  <span id="peerId"></span>
  <span id="remoteACR"></span>
  <span id="localACR"></span>
  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>

  <form onSubmit="return raiseDistantACR()">
    <label for="peer_acr">Peer ACR : </label><input id="peer_acr" type="number" min="-1" max="4" step="1" value ="-1"/>
    <label for="peer_or">Peer Id Origin : </label><input id="peer_or" type="text" value ="192.168.99.100:8080"/>
    <input name="Submit"  type="submit" value="Request"/>
  </form>

  <script>
  var room = <%= room %>
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <!--<script src="/javascripts/lib/adapter_latest.js"></script>-->
  <script src="/javascripts/main.js"></script>

</body>

</html>